#form{
 width: 97%;
 background-color: #FFF;
 height: auto;
 /*backgroud-image: url(aquí la ruta de la imagen de fondo);*/
 margin: 0 auto;
 padding: 1%; 
 border-radius: 5px;
}
.cedula-equipo{
	width: 100%;
	height: 160px;
	text-align: center;
}

input,select{
 width: 100%;
 height: 40px;
 font: 300 24px "Open Sans", Arial, sans-serif;
 margin: 5px 0 10px 0;
 /*
 border-style: solid 3px #ccc;
 border-radius: 2px;
 */
}


input[type=submit]{
 background-color:#FF9900;
 height:50px;
 width:98%;
 border:none;
 font-weight:400;
 letter-spacing:2px;
 color:#FFFFFF;
}

input[type=submit]:hover{
	background-color:#009900;
}

input[type=button]{
 background-color:#FF9900;
 height:50px;
 width:50px;
 border:none;
 font-weight:800;
 letter-spacing:0px;
 color:#FFFFFF;
 border-radius: 50px;
}

input[type=button]:hover{	
	background-color:#009900;
}

input[type=radio]{
 height:50px;
 width:50px;
 border:none;
 padding: 0px;
 margin: 5px 0 10px 0;
}

.conversion{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.cedula-logo {
	width: 100px;
}

.intercepciones{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.acum{
	width: 100%;
}
.acum-interc {
	font-size: 16px;
	font-weight: 400;
	color: #AAA;
}

.acum-table{
	width: 75%;
	margin: auto;
	border: solid 1px #ccc;
	background-color: #EEE;
	text-align: center;
	padding: 2px;
	margin-bottom: 10px;
}
.acum-table th, caption{
	background-color:#bbb;
	font-weight: 800;
	padding: 3px 0;
}	

.total{
	width: 100%;
	margin: 15px auto;
	font-size: 22px;
	font-weight: 800;
	text-align: center;
}

.add {
	width: 100%;
	text-align: right;
	padding-right: 17.5px;
}