.equipos-btn
	background-color $color4
	height 50px
	width 80%
	margin 10px auto
	text-align center
	font-weight 800
	border-radius 7px

.equipos-btn:hover
	background-color $color3

.equipos-txt-btn
	position relative
	top 25%

.equipos	

	&-item
		background-color #FFF
		border-left 6px solid $color3
		height 80px
		border-bottom 1px solid #aaa
		margin-bottom 2px
		&:hover
			background-color #EEE

		&-block
			display block
			width 100%

			&-logo
				float left
				width 70px
				margin-left 5px
				margin-top 5px				
				
			&-txt	
				float left
				width 60%			
				/*background-color #000*/
				margin 30px 0 0 15px	
				font-weight 800