$color1 = #196B00
$color2 = #779C00
$color3 = #FFAA00
$color4 = #FFD045
$color5 = #EEEEEE

@import './normalize.css'
@import './reset'

body
	position relative
	font-size 16px
	background-color $color5
	height 100%

html
	height 100%
	
hr
	height 4px
	border 0
	background-color $color3

h2
	font-size 32px
	color $color2
	text-align center
	margin 0 0 15px 0;
h3
	font-size 24px
	color $color2
	text-align center
	margin 0 0 15px 0
	
.header
	background-color $color2
	color $color5
	height 64px
	line-height 64px
	position fixed
	top 0
	left 0
	width 100%
	z-index 10
	
	&-menu-navbar
		background-color $color1
		width 80%
		
	
	&-menu-list
		list-style-type none
		height 0
		overflow hidden
		transition height .3s ease
		
		&--show
			height 500px
					
		&-item			
			a
				text-decoration none
				color $color5
				width 100%
				padding 0 1.5rem
				display block
				border 0px solid $color3
	&-mobile
		display flex
		justify-content space-between
	&-logo
		order 1
		margin-left 1rem

	&-btn-nav
		order 2
		border 0
		border-radius 5px
		background-color $color1
		margin-right 1rem
		//border 1px solid $color3
		
@media (min-width: 768px)
	.header
		display flex
		flex-direction row
		flex-wrap wrap
		justify-content space-between
		height 80px
		line-height 80px
		transition all .3s ease
		

		&-logo
			margin-left 2rem

		&-btn-nav
			display none
		
		&-menu-list
			height 80px
			
			&-item
				display inline-block
			
			a 
				padding 0 .5rem 
				
@import './intro'

@import './video'

@import './content'

@import './capt.css'

@import './equipos'

@import './est_equipos'

@import './swipe_ex.css'

@import './swiper.min.css'